{% extends "activitytree/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}


<div class=" flex flex-col justify-center w-96 md:mx-auto md:max-w-screen-xl px-2">


						<!-- Form -->
<form  method="post" action="">
              {% csrf_token %}
            
    <div class="flex flex-col min-h-full  justify-center py-10 px-4 sm:px-6 lg:px-8">
<div class="mb-10 font-bold">Ingresa tu nueva contraseña</div>
            <div class="grid grid-cols-1 gap-6"  >
           {{form.non_field_errors }}
           
                    <label for="{{ form.few_password1.id_for_label }}" class="block">{{  form.new_password1.label }}
                          {{form.new_password1|add_class:"pl-2 overflow-hidden shadow sm:rounded-md h-8 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                      {% for error in form.new_password1.errors %}
                          <div class="text-red-400 text-sm">{{ error }} </div>
                      {% endfor %}
                     <div class="text-gray-500 text-sm"> Mínimo 8 carateres, debe incluir alguna letra, que no sea muy común o incluya información personal.</div>
                    </label>


                    <label for="{{ form.new_password2.id_for_label }}" class="block">{{  form.new_password2.label }}
                        {{form.new_password2|add_class:"pl-2 overflow-hidden shadow sm:rounded-md h-8 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}

                      <div class="flex flex-col gap-3 mt-3"> 
                      {% for error in form.new_password2.errors %}
                          <div class="text-red-400 text-sm">{{ error }} </div>
                      {% endfor %}
                    </div>
                    </label>

	    </div>
	    <button type="submit" class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
                  font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 
                  focus:outline-none dark:focus:ring-blue-800">	Cambiar contraseña
            </button>
    </div>
</form>


{% endblock %}

