{% extends "activitytree/base.html" %}
{% load widget_tweaks %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}




<div class="py-4 py-lg-6 bg-primary">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
          <div class="d-lg-flex align-items-center justify-content-between">
            <!-- Content -->
            <div class="mb-4 mb-lg-0">
              <h1 class="text-white mb-1">Agregar un nuevo curso</h1>
              <p class="mb-0 text-white lead">
                Empieza por llenar la forma básica.
              </p>
            </div>
            <div>
              <a href="/instructor/" class="btn btn-white ">De regreso a mis cursos</a>
                <input type="submit"  class="btn btn-success mt-0" value="Enviar">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <div class="pb-12">
    <div class="container">
      <div id="courseForm" class="bs-stepper">
        <div class="row">
          <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
            <!-- Stepper Button -->
            <!-- Stepper content -->
            <div class="bs-stepper-content mt-5">
              <form onSubmit="return false">
                <!-- Content one -->

                  <!-- Card -->
                  <div class="card mb-3 ">
                    <div class="card-header border-bottom px-4 py-3">
                      <h4 class="mb-0">Información Básica</h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">

                    {% if  form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                      <h4 class="alert-heading">Hay algún problema </h4>
                      {% for error in form.non_field_errors %}
                           <p>{{error}}</p>
                        {% endfor %}

                    </div>

                    {% endif %}

                       <div class="mb-3">

                        <label for="{{ form.uri.id_for_label }}" class="form-label">{{  form.uri.label }}</label>
                          {{form.uri|add_class:"form-control"|attr:"placeholder:Identificador"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                       <!--    <input id="courseTitle" class="form-control" type="text" placeholder="Course Title" /> -->
                        {% for error in form.uri.errors %}
                             <div class="text-danger">{{ error }} </div>
                        {% endfor %}
                        <small> {{ form.uri.help_text }}</small>

                       </div>

                      <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">{{  form.title.label }}</label>
                          {{form.title|add_class:"form-control"|attr:"placeholder:Titulo"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                       <!--    <input id="courseTitle" class="form-control" type="text" placeholder="Course Title" /> -->

                          <small> {{ form.title.help_text }}</small>
                      </div>

                      <div   class="mb-3">
                        <label for="{{ form.description.id_for_label }}" class="form-label">{{form.description.label }}</label>
                        {{form.description|add_class:"form-control"|attr:"placeholder:Descripción básica"|attr:"rows:4"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small>{{ form.description.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                        <label for="{{ form.html_description.id_for_label }}" class="form-label">{{form.html_description.label }}</label>
                        {{form.html_description|add_class:"form-control"|attr:"placeholder:Descripción HTML"|attr:"rows:6"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small>{{ form.html_description.help_text }}</small>
                      </div>

                     <div   class="mb-3">
                        <label for="{{ form.level.id_for_label }}" class="form-label">{{  form.level.label }}</label>
                          {{form.level|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.level.help_text }}</small>
                      </div>
                      <div  class="mb-3">
                        <label for="{{ form.is_private.id_for_label }}" class="form-label">{{  form.is_private.label }}</label>
                          {{form.is_private|add_class:"form-check-input"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.is_private.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.author.id_for_label }}" class="form-label">{{  form.author.label }}</label>
                          {{form.author|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.author.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.author_image.id_for_label }}" class="form-label">{{  form.author_image.label }}</label>
                          {{form.author_image|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.author_image.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                        <label for="{{ form.external_url.id_for_label }}" class="form-label">{{  form.external_url.label }}</label>
                          {{form.external_url|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.external_url.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.rights.id_for_label }}" class="form-label">{{  form.rights.label }}</label>
                          {{form.rights|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.rights.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.rights_url.id_for_label }}" class="form-label">{{  form.rights_url.label }}</label>
                          {{form.rights_url|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.rights_url.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.duration.id_for_label }}" class="form-label">{{  form.duration.label }}</label>
                          {{form.duration|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.duration.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.image_url.id_for_label }}" class="form-label">{{  form.image_url.label }}</label>
                          {{form.image_url|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.image_url.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.video_url.id_for_label }}" class="form-label">{{  form.video_url.label }}</label>
                          {{form.video_url|add_class:"form-control"|attr:"size:4"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.video_url.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.tags.id_for_label }}" class="form-label">{{  form.tags.label }}</label>
                          {{form.tags|add_class:"form-control"|add_error_attr:"role:alert"|attr:"rows:6"|add_error_class:"alert alert-danger"}}
                       <!--    <input id="courseTitle" class="form-control" type="text" placeholder="Course Title" /> -->
                        <small> {{ form.tags.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.status.id_for_label }}" class="form-label">{{  form.status.label }}</label>
                          {{form.status|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                       <!--    <input id="courseTitle" class="form-control" type="text" placeholder="Course Title" /> -->
                        <small> {{ form.status.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.current_price.id_for_label }}" class="form-label">{{  form.current_price.label }}</label>
                          {{form.current_price|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                        <small> {{ form.current_price.help_text }}</small>
                      </div>
                      <div   class="mb-3">
                      <label for="{{ form.start_date.id_for_label }}" class="form-label">{{  form.start_date.label }}</label>
                          {{form.start_date|add_class:"form-control"|add_error_attr:"role:alert"|add_error_class:"alert alert-danger"}}
                       <!--    <input id="courseTitle" class="form-control" type="text" placeholder="Course Title" /> -->
                        <small> {{ form.start_date.help_text }}</small>
                      </div>
                   <input type="submit"  class="btn btn-success mt-5" value="Enviar">

                    </div>

                  </div>
                  <!-- Button -->
</form>




            </div>

        </div>
      </div>
    </div>
  </div>

</form>

{% endblock content %}