{% load gravatar %}
  <div class="md:mx-auto md:max-w-screen-xl px-2">
    <div class="flex flex-col md:flex-row md:justify-between  border-b-2 border-gray-100 py-6 md:space-x-10">
       <div class="flex pb-3 justify-center">
          <a href="/">
            <span class="sr-only">aulacode.com</span>
            <img class="h-8 w-auto sm:h-10" src="{{ STATIC_URL }}assets/images/brand/logo/logo-aulacode.svg" alt="aulacode">
         </a>
      </div>

       <nav class="space-x-20 grow">
         <div class="rounded-md shadow-sm border-2 text-gray-500">
            <input type="text" name="search" id="search" class="rounded-md border-gray-300 
                focus:border-indigo-500  max-h-full w-full sm:text-sm align-middle  p-2.5 bg-gray-50" placeholder="Buscar">
        </div> 
      </nav>
          {% if not user.is_authenticated %}

           <div class="flex flex-row justify-center pt-5 md:pt-0 md:flex-1 items-center md:justify-end  lg:w-0">
             <a href="/accounts/login" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">Inicia sesión</a>
             <a href="/accounts/register" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border
          border-transparent bg-violet-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-violet-700">Crea tu cuenta</a>
           </div>

  <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
         {% else %}
           <div class="flex flex-row justify-center pt-5 md:pt-0 md:flex-1 items-center md:justify-end  lg:w-0">
              <div class="relative" >
                <div id="profile-btn" class="drop-btn flex flex-row w-32 rounded-md border border-gray-300 bg-white h-12">
                  <div  class="flex flex-col w-28">
                     <div class="text-xs pl-2 pt-1">Hola</div>
                       {% if user.first_name %}
                          <div class="text-sm font-semibold pl-3 truncate">{{ user.first_name }} {{ user.last_name }}</div>
                       {% else %}
                          <div class="text-sm font-semibold pl-3 truncate">{{ user.username}} </div>
                       {% endif %}
                  </div>
              
                  <svg class="mt-3 h-6 text-grey-500" 
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"
                         fill="currentColor" 
                         aria-hidden="true">
                       <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                  </svg>
                </div> 
                <div id="profile-menu" class="absolute hidden right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dropdown-content" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="/me" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Perfil</a>
                    <a href="/accounts/license" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Licencia</a>
                    <a href="/accounts/logout" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2"> Salir</a>
                  </div>
                </div>
              </div>
            <!-- <a href="/accounts/logout" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">Salir</a> -->
            <!-- <img class="w-10 h-10 rounded-full" src="{% gravatar_url user.email 50%}" alt="Gravatar"> -->
            </div>
          </div>
         {% endif %}
    </div>
  </div>


      {% include "activitytree/tags.html" %} 


