{% extends "activitytree/base.html" %}
{% load gravatar %}
{% load auth_extras %}

{% block content %}
<div class="pt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- Bg -->
          <div class=" pt-16 rounded-top-md " style="
                   background: url({{STATIC_URL}}assets/images/background/profile-bg.jpg) no-repeat;
                    background-size: cover;">
          </div>
          <div
            class="d-flex align-items-end justify-content-between bg-white px-4  pt-2 pb-4 rounded-bottom shadow-sm ">
            <div class="d-flex align-items-center">
              <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
              
                <img src="{% gravatar_url user.email 100 %}" class="avatar-xl rounded-circle border  border-4 border-white"
                  alt="">
              </div>
              <div class="lh-1">

                <h2 class="mb-0">  {% if user.first_name %}
                             {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                                {{ user.username }}
                         {% endif %}


                  <a href="#" class="text-decoration-none"  data-bs-toggle="tooltip" data-placement="top" title="Básico">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                    </svg>
                  </a>
                </h2>
                <p class=" mb-0 d-block">{{user.email}}</p>
              </div>
            </div>
            <div>
              <a href="/me" class="btn btn-primary btn-sm d-none d-md-block">Perfil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="pb-5 py-md-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Side Navbar -->
          <ul class="nav nav-lb-tab mb-6" id="tab" role="tablist">
            <li class="nav-item ms-0" role="presentation">
              <a class="nav-link active " id="bookmarked-tab"  data-bs-toggle="pill" href="#bookmarked" role="tab"
                aria-controls="bookmarked" aria-selected="true"> Cursando </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="currentlyLearning-tab"  data-bs-toggle="pill" href="#currentlyLearning" role="tab"
                aria-controls="currentlyLearning" aria-selected="false"> Me interesan </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="path-tab"  data-bs-toggle="pill" href="#path" role="tab" aria-controls="path"
                aria-selected="false">
                Sugeridos </a>
            </li>
          </ul>
          <!-- Tab content -->
          <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="bookmarked" role="tabpanel" aria-labelledby="bookmarked-tab">
            {% if rows %}
              {% for row in rows%}
                    <div class="row">
                      {% for c in row%}
                        <div class="col-lg-3 col-md-6 col-12">
                        <!-- Card -->
                        <div class="card  mb-4 card-hover">
                            <a href="/{{c.current_activity.learning_activity.id}}{{c.current_activity.learning_activity.uri}}" class="card-img-top"><img src="{{c.root_activity.course.metadata.image_url}}" alt=""
                                class="card-img-top rounded-top"></a>
                            <!-- Card body -->
                            <div class="card-body">
                            <h3 class="h4 mb-2 text-truncate-line-2 "><a href="/{{c.current_activity.learning_activity.id}}{{c.current_activity.learning_activity.uri}}" class="text-inherit">{{c.root_activity.course.metadata.title}}</a>
                            </h3>
                            <!-- List inline -->
                        <ul class="mb-3  list-inline">
                        <li class="list-inline-item"><i class="far fa-clock me-1"></i>
                            {% if c.root_activity.course.metadata.duration is not None %}
                                {{c.root_activity.course.metadata.duration|duration}}
                            {% endif %}
                        </li>
                     
                     {% if c.root_activity.course.metadata.level == "principiante" %}
                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                            </rect>
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                            </rect>
                          </svg> Principiante
                        </li>
                        {% endif %}
                        {% if  c.root_activity.course.metadata.level == 'intermedio'%}
                        <li class="list-inline-item">
                          <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE" />
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9" />
                          </svg>
                          Intermedio
                        </li>
                        {% endif %}
                        {% if  c.root_activity.course.metadata.level == 'avanzado'%}
                         <li class="list-inline-item">
                          <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE" />
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE" />
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE" />
                          </svg>
                          Avanzado
                        </li>
                        {% endif %} 




                      </ul>
                        <div class="row align-items-center g-0">
                        <div class="col-auto">
                          <img src="{{c.root_activity.course.author.authorprofile.image }}" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                         <a href="/instructor_info/{{c.root_activity.course.author.id}}">
                          <span>{{c.root_activity.course.author.first_name }} {{ c.root_activity.course.author.last_name }} </span>
                         </a> 
                        </div>
                      </div>
                            </div>
                            <!-- Card footer -->
                            <div class="card-footer allign-left">
                                <div class="row align-items-left g-0">
                                    <div class="col ms-2">
                                            <span> <small> Continúa viendo: </small></span>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                   <ul class="mt-2 mb-3  list-inline">
                            <a href="/{{c.current_activity.learning_activity.id}}{{c.current_activity.learning_activity.uri}}">
                                       
                                        <li class="list-inline-item">  {{ c.current_activity.learning_activity.name|truncatechars:38 }} </li>
                            </a>
                                    </ul>
                                </div>
                                <div class="progress m1-3" style="height: 5px;">
                                {% if c.root_activity.progress_status == 'completed' %}
                            
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="45"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 45%;" aria-valuenow="45"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                {% endif%}    
                                </div>

                            </div>
                            
                        </div>
                        </div>
                       {% endfor %} 
                    </div>
                {% endfor%}
             {% else %}


                            <h5 class="mb-1"> No tienes cursos registrados todavía. </h5>


                            <p>
                                <a href="/courses" class="btn btn-primary my-2">Busca algún curso</a>

                            </p>

             {% endif %}
            </div>

            <div class="tab-pane fade" id="currentlyLearning" role="tabpanel" aria-labelledby="currentlyLearning-tab">
               <div class="row  d-flex justify-content-center text-center">
                <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                  <div class="py-6">
                    <img src="../assets/images/background/coming-soon-img.svg" alt="" class="img-fluid">
                    <div class="mt-4 ">
                      <h2 class="display-4 font-weight-bold"> Estamos trabjando </h2>
                      <p class="mb-5"> Tendremos esta fucionalidad próximamente.</p>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Path -->
            <div class="tab-pane fade" id="path" role="tabpanel" aria-labelledby="path-tab">
              <div class="row  d-flex justify-content-center text-center">
                <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                  <div class="py-6">
                    <img src="../assets/images/background/coming-soon-img.svg" alt="" class="img-fluid">
                    <div class="mt-4 ">
                      <h2 class="display-4 font-weight-bold"> Estamos trabjando </h2>
                      <p class="mb-5"> Tendremos esta fucionalidad próximamente.</p>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






{% endblock content %}







