{% extends "activitytree/base.html" %}
{% load comments %}
{% load comments_xtd %}


{% block content %}

  <div class="relative md:mx-auto md:max-w-screen-xl px-2 bg-green-200">

<div class="flex z-20 w-20 top-20 left-0 bg-red-500">
    <ul>
        <li> Hola </li>
        <li> Que tal? </li>
        <li> K ase </li>
        <li> 
            <h5 class="mb-8 font-semibold text-slate-900"> </h5>

            <ul>
                <li> Hola </li>
                <li> Que tal? </li>
                <li> K ase </li>
                <li> </li>
            </ul>
        </li>
        <li> </li>
    </ul>
</div>


{% block activity %}
<div class="py-2 flex flex-col justify-center relative overflow-hidden lg:py-10 ">
  <div class="mt-2 prose prose-slate lg:prose-lg mx-auto bg-gray-50  prose-pre:bg-gray-50">
    <div class="w-full px-6 py-2 bg-white shadow-xl 
       shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-1 lg:pb-28">
                 <h2> {{content.title}} </h2>

        {{content.content|safe}}
        <div class="flex items-center space-x-4">
          <img class="w-12 h-12 rounded-full" src="{{content.external_url}}" alt="">
          <div class="font-medium">
              <div>{{content.author}}</div>
              <div class="text-sm text-gray-500 dark:text-gray-400">{{content.rights}}</div>
          </div>
         </div>

    </div>
  </div>
</div>


{% endblock activity %}

</div>
{% endblock content %}




