{% extends "activitytree/nav_base.html" %}


{% block style %}

/*
* Editor
*/

#code-editor {
 width: 100%;
 height: 540px; 
 position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

{% endblock style %}


{% block activity %}


<div class="flex flex-row gap-x-3 mt-4 mb-3 ml-2 md:w-1/2 font-semibold"> 
  {% for activity in breadcrumbs %}
    {% if forloop.first %} 
    <div class="flex flex-wrap  text-blue-500 "> <a href="{{root_id}}{{ activity.uri }}"> {{activity.name}} </a> > </div>
    {% elif forloop.last %} 
      <div class="flex flex-wrap  "> <a href="{{root_id}}{{ activity.uri }}"> {{activity.name}} </a> </div>
    {% endif %}
  {% endfor %}

  </div>

<div class="flex flex-row flex-wrap-reverse w-full"> 
  <div class="inline-block relative md:w-2/3  text-base w-screen">
    <div id="code-editor">{{program_quiz.initial_code}}</div>
  </div>
  
  <div class="flex flex-col prose prose-sm md:w-1/3"> 
  
  <div class="flex flex-row" id="execute-buttons" > 
        <button type="button" hx-post="/execute_queue/" hx-target="#execute-buttons" hx-swap="innerHTML" class="inline-flex w-full mb-3 bg-green-600 border rounded-md border-gray-300  px-3 py-1  
                  shadow-sm font-medium justify-center text-sm text-white sm:ml-3 sm:w-auto hover:bg-green-200"> Ejecuta el código </button>

        <button type="button"    class="inline-flex w-full mb-3 border rounded-md border-gray-300  px-3 py-1  
                  shadow-sm font-medium justify-center text-sm text-gray-700 sm:ml-3 sm:w-auto"> Reinicial el código </button>
  </div>

    <div class="p-2 ml-3"> 
        <div class="font-bold"> {{program_quiz.title}} </div>
        {{ program_quiz.instructions|safe }}
    </div>

    <div class="flex flex-col text-white p-1 ml-3 mt-2"> 
      <h4> Resultado </h4>
      <pre class="w-full"> 
>_
      </pre> 
    </div>
  </div>
</div>


{% endblock activity %}


{% block scripts %}

{{ block.super }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/ace.min.js" integrity="sha512-9wsrxhzNVuW9XQgRmpSG9i23hheWGRZt0+M+T4vA/CXPLNEPCGsTXHaQi8/U5/gpuboqT0tFW+1hhUPzA4UHQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/theme-github.min.js" integrity="sha512-G0Ha6cELuBxxhTeMh/ZhY7D7RWt2UtWV6TMFXMSUHqc+p2xQPpAwMTCcG0QLXsmlu1QkbKQjQZC0J6cwfBa6EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/snippets/{{ program_quiz.lang }}.js"
  type="text/javascript" charset="utf-8"></script>


{% comment %}
<script src="{{ MEDIA_URL }}js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/mode-{{ program_quiz.lang }}.js" type="text/javascript" charset="utf-8"></script>

{% endcomment %}

<script>
  ace.config.set('basePath', 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/')
    var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/{{ program_quiz.lang }}");

 document.body.addEventListener('htmx:responseError', function(evt) {
          console.log('Error en la petición'); 
  }); 
document.body.addEventListener('htmx:configRequest', function(evt) {
    evt.detail.parameters['code'] =  editor.getValue(); // add a new parameter into the mix
    evt.detail.parameters['method'] = "{{ activity_uri }}"; // add a new parameter into the mix
     
});

</script>




{% endblock scripts %}
