{% load protoboard_extras %}

<div class="container px-5 py-2 mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    {% for activity in docs %}
      <div class="flex items-start m-2 mt-5 space-x-4">
        <!-- Left -->
    <a class="flex gap-2 items-center mb-3
             text-slate-700 hover:text-blue-500" 
    href="{{ activity.uri }}">

    <div class="flex-none w-8"> {{ activity.uri|icon }}</div> 
    <div class="flex flex-col w-full"> 
	<div class=" font-semibold text-sm ">{{ activity.title }}
	</div>
	<div class="font-light text-xs ">
	     {{ activity.description }}
	</div>
	</div>
            <!--  {{ activity }}  -->
  </a> 
  </div>
        <!-- Right -->
            {% endfor %}
  </div>
</div>
  
