{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}Confirma tu opinión{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
 <div class="container pt-3 d-flex flex-column">
    <div class="row align-items-top mt-4 justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-4 py-xl-0">

<div class="mb-4">
  <h3 class="text-center">
    {% if already_liked_it %}
    Te gustaba este comentario, ¿cambiaste de opinión?
    {% else %}
    ¿Te gusta este comentario?
    {% endif %}
  </h3>
  <hr/>
</div>
<p class="lead text-center">Por favor, confirma tu decisión</p>
<div class="row">
  <div class="offset-lg-1 col-lg-10">
    <div class="card mb-4">
      <div class="card-body">
        <div class="media pb-2">
          <img src="{{ comment.user_email|xtd_comment_gravatar_url }}"
              width="48" height="48" class="me-3">
          <div class="media-body">
            <h6 class="mb-1 small">
              {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
              {% if comment.user_url %}
              <a href="{{ comment.user_url }}" target="_new">{% endif %}
                {{ comment.user_name }}
                {% if comment.user_url %}
              </a>{% endif %}
            </h6>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
    {% with object_absolute_url=comment.content_object.get_absolute_url %}
    {% if object_absolute_url %}
    <p class="text-center">
      {% trans "Aparece en "%}&nbsp;<a href="{{ object_absolute_url }}">{{ comment.content_object }}</a>
    </p>
    {% endif %}
    {% endwith %}
    <div class="visible-lg-block visible-md-block">
      <hr/>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-lg-1 col-lg-10">
    {% if already_liked_it %}
    <div class="alert alert-warning text-center">
      Presiona en el botón de "Cambiar de opinión", si deseas retirar el "Me gusta".
    </div>
    {% endif %}
    <div class="well well-lg">
      <form action="." method="post" class="form-horizontal">{% csrf_token %}
        <input type="hidden" name="next" value="{{ comment.get_absolute_url }}">
        <div class="mb-3">
          
          
          <div>
            <a href="{{ comment.get_absolute_url }}" class="btn btn-white ">Regresar a comentarios</a>
            
            {% if already_liked_it %}
            <input type="submit" class="btn btn-danger mt-0" value="Cambiar de opinión">
            {% else %}
            <input type="submit" class="btn btn-primary mt-0" value="Me gusta">
            {% endif %}
            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

    </div>
  </div>
</div>

{% endblock %}
