{% extends "activitytree/nav_base.html" %}
{% load comments %}
{% load comments_xtd %}


{% block style %}

{% endblock style %}
    
{% block activity %}
    <div class="grow  justify-center relative overflow-hidden md:max-w-3xl md:mx-auto lg:max-w-4xl">
      <div class="mt-10 prose prose-slate dark:prose-invert lg:prose-lg mx-auto pre:px-0">
            <h2> {{content.title}} </h2>

            {{content.content|safe}}
            <div class="flex items-center space-x-4">
              <img class="w-12 h-12 rounded-full" src="{{content.external_url}}" alt="">
              <div class="font-medium">
                  <div>{{content.author}}</div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">{{content.rights}}</div>
              </div>
             </div>

      </div>
    </div>
{% endblock activity %}
