{% extends "activitytree/base.html" %}
{% load protoboard_extras %}
{% load auth_extras %}
{% block style %}

{% endblock style %}

{% block content %}


  
{% include "activitytree/course_info_hero.html"%}
<div class="mx-auto mt-2 mb-10 border-black rounded-lg max-w-screen-xl  lg:px-12">
  {% for ula in ulas %}
  <div > {{ ula.user.username }} {{ ula.user.first_name }}  {{ ula.user.last_name }}  {{ ula.progress_status}}</div>
  {% comment %}
  {% for ula in student.userlearningactivity_set.filter.learning_activity__root_id=27 %}
      {{ ula }}
  {% endfor %}
  {% endcomment %}
  {% endfor %}
</div>  <!-- End col Temario --> 

    
   

   
{% endblock content %}



