
<div id="program-exec"  class="hidden md:block md:w-2/3 fixed bottom-0 right-0 ml-5 bg-black w-full mb-3 h-1/4" hx-target="#program-exec"
    hx-get="/get_result/?task={{task_id}}&count={{count}}{% if id %}&id={{id}}{% endif %}" 
       hx-trigger="load delay:1000ms" 
    hx-swap="outerHTML">
    <div class="text-small fixed bg-black h-8 md:w-1/2  grid grid-cols-6 justify-items-stretch"> 
      <div class="text-small pl-4 text-white col-span-3">
        <div class="w-full mt-3 bg-gray-200 rounded-full h-2.5">
          <div class="bg-lime-300 h-2.5 rounded-full" style="width: {{percentege}}%"></div>
          </div>
      </div>
    </div>

    <div class="text-base text-small pl-3 text-white mt-9 h-4/5 bg-slate-900 w-full overflow-y-auto">
        Ejecutando ....
    </div>
                        
</div>

