{% extends "activitytree/nav_base.html" %}


{% block style %}

/*
* Editor
*/

#code-editor {
 width: 100%;
 height: 800; 
 position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

{% endblock style %}


{% block activity %}





<div class="flex flex-row gap-x-2 mt-4 mb-3 ml-2 md:w-1/2 font-semibold"> 

  {% for activity in breadcrumbs %}

    {% if forloop.first %} 
    <a class="text-blue-800" href="{{root_id}}{{ activity.uri }}">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
</svg>
</a>
    <div class="flex flex-wrap  text-blue-700 "> <a href="{{root_id}}{{ activity.uri }}"> {{activity.name}} </a> </div>
    {% elif forloop.last %} 

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
</svg>

      <div class="flex flex-wrap  "> {{activity.name}} </div>
    {% endif %}
  {% endfor %}

  </div>

<div class="flex flex-row flex-wrap-reverse w-full"> 
  <div class="inline-block relative md:w-1/2  text-base w-screen h-screen">
    <div id="code-editor">{{program_quiz.initial_code}}</div>
  </div>
  
  <div class="flex flex-col prose prose-sm md:w-2/5"> 
    <div class="p-2 ml-3"> 
      {% comment%} <div class="font-bold text-lg "> {{program_quiz.title}} </div> {% endcomment %}
        {{ program_quiz.instructions|safe }}
    </div>

    <div id="program-exec" > 
      <div class="flex flex-row"> 
        <button type="button" hx-post="/execute_queue/" hx-target="#program-exec" hx-swap="outerHTML" 
                             class="inline-flex w-full mb-3 bg-blue-600 border rounded-lg border-gray-300  px-5 py-2.5  
                  shadow-sm font-medium justify-center text-sm text-white sm:ml-3 sm:w-auto hover:bg-blue-800"> Ejecuta el código </button>

      </div>
    </div>
  </div>
</div>


{% endblock activity %}


{% block scripts %}

{{ block.super }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/ace.min.js" integrity="sha512-9wsrxhzNVuW9XQgRmpSG9i23hheWGRZt0+M+T4vA/CXPLNEPCGsTXHaQi8/U5/gpuboqT0tFW+1hhUPzA4UHQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/theme-github.min.js" integrity="sha512-G0Ha6cELuBxxhTeMh/ZhY7D7RWt2UtWV6TMFXMSUHqc+p2xQPpAwMTCcG0QLXsmlu1QkbKQjQZC0J6cwfBa6EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/snippets/{{ program_quiz.lang }}.js"
  type="text/javascript" charset="utf-8"></script>


{% comment %}
<script src="{{ MEDIA_URL }}js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/mode-{{ program_quiz.lang }}.js" type="text/javascript" charset="utf-8"></script>

{% endcomment %}

<script>
  ace.config.set('basePath', 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/')
    var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/{{ program_quiz.lang }}");
    editor.setFontSize(14); 

document.body.addEventListener('htmx:configRequest', function(evt) {
  if (evt.detail.verb == 'post') {
    evt.detail.parameters['code'] =  editor.getValue(); // add a new parameter into the mix
    evt.detail.parameters['method'] = "{{ activity_uri }}"; // add a new parameter into the mix
    {% if uri_id %} 
    evt.detail.parameters['id'] = "{{ uri_id }}"; // add a new parameter into the mix
    {% endif %}
  } 
});

</script>




{% endblock scripts %}
