{% extends "activitytree/nav_base_full.html" %}


{% block style %}


{% endblock style %}


{% block activity %}
<!--- CODE -->
<!--- Instruction window -->
<div class="block md:fixed md:inset-0 md:top-24 md:left-0 md:mb-3 md:z-30 md:w-1/3 w-full overflow-y-auto overflow-x-auto"> 
  <div class="flex flex-row gap-x-2 mt-4 mb-3 ml-2 pr-3 md:1/3 font-semibold"> 
    {% for activity in breadcrumbs %}
      {% if forloop.first %} 
      <a class="text-blue-800 dark:text-white" href="{{root_id}}{{ activity.uri }}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
      </a>
      <div class="flex flex-wrap  text-blue-700 dark:text-white">
        <a href="{{root_id}}{{ activity.uri }}"> {{activity.name}} </a> </div>
      {% elif forloop.last %} 
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                                                                 class="w-6 h-6 dark:text-slate-400">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
        <div class="flex flex-wrap  dark:text-slate-400"> {{activity.name}} </div>
      {% endif %}
    {% endfor %}
  </div>

    <div class="hidden md:flex flex-col prose dark:prose-invert xl:prose-lg "> <!--- xl not working??? -->
    <div class="p-2 ml-3"> 
        {{ program_quiz.instructions|safe }}
    </div>
  </div>
</div>
<!--- Instruction window -->
<!--- Program window -->

<div class="fixed block top-7 right-0 md:block md:fixed md:right-0 md:top-0 w-full md:h-3/4 h-2/3 sm:3/4 md:w-2/3 overflow-y-hidden"> 
  <div id="code-editor" class="text-small xl:text-base mt-24 h-5/6 overflow-y-auto">{{program_quiz.initial_code}}</div><!--- xl not working??? -->
</div>

<!--- Program window -->
<!-- Execute window -->
<div id="program-exec" class="md:block md:w-2/3 fixed bottom-0 right-0 ml-5 bg-transparent w-full mb-3 h-1/4">
  <div class="w-full ml-1 md:ml-0 md:w-2/3 text-small right-2 pb-2 fixed bg-transparent h-9 flex-row-reverse flex rounded"> 
    <button type="button" hx-post="/execute_queue/" hx-target="#program-exec" hx-swap="outerHTML" 
      class=" flex flex-row rounded pl-4 pr-2 bg-lime-300 hover:bg-lime-600 items-center shadow">
        <div class="text-small font-medium mr-3">  
          Ejecutar   
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
        </svg>
    </button>
    </div>
    <div class="absolute left-2 text-base text-black dark:text-white border-b-2 border-b-black dark:border-b-white">
        Output :       
    </div>
    <div class="border border-slate-200 rounded text-base text-white pl-3 h-5/6 bg-zinc-800 mt-9 w-full overflow-y-auto">
  </div>
</div>
  <!-- Execute window -->

{% comment %}

<div class="flex flex-row flex-wrap-reverse w-full"> 
  <div class="inline-block relative md:w-1/2  text-base w-screen h-screen">
    <div id="code-editor">{{program_quiz.initial_code}}</div>
  </div>
  
  <div class="flex flex-col prose prose-sm md:w-2/5"> 
    <div class="p-2 ml-3"> 
        {{ program_quiz.instructions|safe }}
    </div>

    <div id="program-exec" > 
      <div class="flex flex-row"> 
        <button type="button" hx-post="/execute_queue/" hx-target="#program-exec" hx-swap="outerHTML" 
                             class="inline-flex w-full mb-3 bg-blue-600 border rounded-lg border-gray-300  px-5 py-2.5  
                  shadow-sm font-medium justify-center text-sm text-white sm:ml-3 sm:w-auto hover:bg-blue-800"> Ejecuta el código </button>

      </div>
    </div>
  </div>
</div>

{% endcomment %}

{% endblock activity %}


{% block scripts %}

{{ block.super }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/ace.min.js" integrity="sha512-9wsrxhzNVuW9XQgRmpSG9i23hheWGRZt0+M+T4vA/CXPLNEPCGsTXHaQi8/U5/gpuboqT0tFW+1hhUPzA4UHQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/theme-github.min.js" integrity="sha512-G0Ha6cELuBxxhTeMh/ZhY7D7RWt2UtWV6TMFXMSUHqc+p2xQPpAwMTCcG0QLXsmlu1QkbKQjQZC0J6cwfBa6EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/snippets/{{ program_quiz.lang }}.js"
  type="text/javascript" charset="utf-8"></script>


{% comment %}
<script src="{{ MEDIA_URL }}js/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}js/mode-{{ program_quiz.lang }}.js" type="text/javascript" charset="utf-8"></script>

{% endcomment %}

<script>
  ace.config.set('basePath', 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/')
  var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/dracula");
    editor.session.setMode("ace/mode/{{ program_quiz.lang }}");
    editor.setFontSize(12); 

document.body.addEventListener('htmx:configRequest', function(evt) {
  if (evt.detail.verb == 'post') {
    evt.detail.parameters['code'] =  editor.getValue(); // add a new parameter into the mix
    evt.detail.parameters['method'] = "{{ activity_uri }}"; // add a new parameter into the mix
    {% if uri_id %} 
    evt.detail.parameters['id'] = "{{ uri_id }}"; // add a new parameter into the mix
    {% endif %}
  } 
});

</script>




{% endblock scripts %}
