{% load protoboard_extras %}
{% if activity.children %}
  
    {% if activity.is_visible %}
      <li> 
	  <h5 class="mt-5 mb-2 font-semibold text-xl text-slate-900">{{ activity.name|title }}</h5>
	  <!-- <p> {{activity }} </p> -->
	  <ul class="space-y-6 lg:space-y-2 dark:border-slate-800">
	      {% for child in activity.children %}
		    {% include "activitytree/report_recursive.html" with activity=child %}		
	      {% endfor %}
	  </ul>
      </li>
    {% else %} 
          {% for child in activity.children %}
		{% include "activitytree/report_recursive.html" with activity=child %}		
          {% endfor %}
    {% endif %}

{% else %} 
<li class="flex gap-2 items-center mb-3"> <a class="          
          {% if activity.pre_condition == "disabled" %}  
             text-slate-200
           {% else %}  
             text-slate-700
           {% endif %} 
             hover:border-slate-400
             hover:text-slate-200  
	  " 
           {% if activity.pre_condition == "disabled" %}  
		href="#"
           {% else %}  
		href="/{{ activity.path }}{{ activity.uri }}"
           {% endif %} 
    >

    <div class="flex-none w-5 text-slate-700">
           {% if activity.pre_condition == "disabled" %}  
	    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
	      <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
	    </svg>
           {% else %}  
	    {{ activity.uri|icon }}

           {% endif %} 
    </div> 
    <div class="flex flex-row w-full gap-4">

	<div class=" font-semibold text-xl 
           {% if activity.pre_condition == "disabled" %}  
             text-slate-200
           {% elif activity.progress_status == "completed"%}  
             text-green-700
           {% else %}  
             text-slate-700
           {% endif %} 

         	    ">{{ activity.name }}
	   
                    {% comment %} {{activity.pre_condition }} {{activity.progress_status}} {% endcomment %}

	</div>
      </a> 
	<div class="font-light text-xl"  > 
          intentos: {{ activity.num_attempts }} | cal: {{ activity.objective_measure }} | {{activity.id}} 

	</div>
	</div> 
</li> 

{% endif %}


