{% extends "activitytree/base.html" %}
{% load tz %}
{% load gravatar %}
{% load protoboard_extras %}

{% block content %}
<div class="pt-5  mx-auto mt-2  max-w-screen-xl relative lg:px-12">
  <div class="flex flex-row w-full">
        <img src="{% gravatar_url student.email 150 %}"  class="rounded-full object-cover object-center w-14 h-14" alt="Gravatar"/>

    <div class="flex flex-col pl-5 w-full">
        <div class="text-sm font-bold tracking-tight text-gray-900 md:text-xl lg:text-xl">
                          {% if student.first_name %}
                               {{ student.first_name }} {{ student.last_name }}
                          {% else %}
                                  {{ student.username }}
                          {% endif %}
        </div>
        <div class="text-sm tracking-tight leading-none text-gray-900 md:text-base lg:text-base">
          {{ student.email }}
        </div>
     </div>
  </div>

  <div class="flex flex-row flex-wrap">
    <div class="flex flex-col w-full">
      <div class="font-bold  text-xl mt-4 mb-3">{{ula.learning_activity.name}}
        {% if ula.progress_status == "completed" %} 
          <div class="text-green-600"> Aprobado </div>
        {% else %}
          <div class="text-red-400"> Falló </div>
        {% endif %}
      </div>
        <div class="overflow-hidden ">
            <div class="flex flex-wrap md:mx-auto md:max-w-screen-xl mt-1 px-2">
              <div class="flex flex-none w-full lg:block relative left-0">
            {% for a in attempts %} 
                       <div class="flex flex-col"> 
              <div class="p-2 ml-3">
                <pre>
{{a.time_stamp}}  {{a.result}}
<code class="language-{{a.lang}}">
{{a.code|safe }}
{% for f in a.failures %}
{{f}}
{% endfor %}
{% for e in a.errors %}
{{e}}
{% endfor %}
{{s}}
{% for su in a.successes %}
{{su}}
{% endfor %}
</code>
                </pre>
              </div>
            </div>
            {% endfor %}


              </div>
            </div>
        </div>
    </div>

    <div id="code" class="flex flex-col w-1/2 prose">

    </div>
  </div>
</div>
   
{% endblock content %}

{% block scripts %}


{{block.super}}


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>




<script>

document.body.addEventListener('htmx:configRequest', function(evt) {
  if (evt.detail.verb == 'post') {
    evt.detail.parameters['tz'] =  jstz.determine().name(); // add a new parameter into the mix
  } 
});

  </script>

{% endblock scripts %}
