{% extends "activitytree/nav_base.html" %}

{% block activity %}


   <form id="learning_activity_form"  class="pb-20"  role="form"  action="{{ uri_id }}{{ uri }}" method="POST" xmlns="http://www.w3.org/1999/html">{% csrf_token %}


        {% if attempts_left < 100 %}

            {% if attempts_left  > 2   %}
                <div class="alert alert-success" role="alert"> Tienes {{attempts_left}}  intentos. </div>


            {% elif attempts_left  > 1   %}
                <div class="alert alert-warning" role="alert"> Tienes {{attempts_left}}  intentos.</div>

            {% elif attempts_left   == 1   %}
                <div class="alert alert-danger" role="alert"> Es tu último intento </div>
            {% elif attempts_left   == 0 %}
                <div class="alert alert-danger" role="alert"> Ya no tienes más intentos </div>
            {% endif %}

        {% endif %}
 <div class="mt-3 prose prose-slate dark:prose-invert lg:prose-lg mx-auto pre:px-0">
        {{ content.content|safe }}
 </div>

<div class="flex flex-col gap-y-4 pt-6 mb-8 mx-auto dark:text-slate-400 max-w-prose">

{% if not feedback %}
    {% for q in content.questions %}
        <div class=" ">
                <h4 class="text-lg dark:text-slate-400 font-semibold">
                    {{q.question}}
                </h4>
                    {% if q.options %}
                        {% for o in q.options %}
                            {% if q.interaction == 'choiceInteraction' %}
                             <div class="checkbox{{ q.inline|yesno:"-inline,," }} pl-3">
                                 <label>
                                    <input type="checkbox" class="dark:text-sky-500" value="option_{{ forloop.counter0 }}" name="{{q.id}}">
                                    {{ o }}
                                 </label>
                            </div>
                            {% elif q.interaction == 'simpleChoice' %}
                                <div class="radio{{ q.inline|yesno:"-inline,," }}  pl-3">
                                 <label>
                                    <input type="radio" value="option_{{ forloop.counter0 }}" name="{{q.id}}" 
                                            class="dark:checked:bg-sky-500 dark:active:bg-sky-500 text-sky-500" >
                                    {{ o }}
                                 </label>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% elif q.interaction == 'textEntryInteraction' %}
                            <input type="textarea" class="block mt-3 p-2 w-full
                            text-sm text-gray-900 bg-gray-50 border" placeholder="Escribe tu respuesta" name="{{q.id}}">
                            </input>
                    {% endif %}
         </div>
    {% endfor %}
{% else %}
   
        {% for q in content.questions %}
         <div class=" ">
            <div class="flex text-lg font-semibold">
                <div class="flex-none w-5 mr-2 pt-1"> 
                {% if q.feedback.correct %}
                   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                       class="w-6 h-6 dark:stroke-green-300 stroke-green-700">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                   </svg>
                {% else %}
                    
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6 stroke-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                {% endif %}
                </div>

                <h4 class="flex text-lg font-semibold">
                        {{q.question}}
                </h4>
             </div>

            {% if q.options %}
                {% for o in q.feedback_options %}
                 {% if q.interaction == 'choiceInteraction' %}
                    <div class="checkbox{{ q.inline|yesno:"-inline,," }} pl-3">
                        <label>
                            <input type="checkbox" value="option_{{ forloop.counter0 }}" name="{{q.id}}" {{ o.1|yesno:"checked,," }}
                            class="dark:text-sky-500"/>
                            {{ o.0 }}
                        </label>
                    </div>

                 {% elif q.interaction == 'simpleChoice' %}
                    <div class="radio{{ q.inline|yesno:"-inline,," }} pl-3">
                     <label>
                        <input class="dark:checked:bg-sky-500 dark:active:bg-sky-500 text-sky-500"
                               type="radio" value="option_{{ forloop.counter0 }}" name="{{q.id}}" {{ o.1|yesno:"checked,," }} />
                            {{ o.0 }}
                     </label>
                     </div>
                 {% endif %}
                {% endfor %}

                {% if q.feedback.correct %}

                {% else %}
                    {% if q.hints|length != 0 %}
                    <div class="font-semibold mt-2 pl-3"> Pistas:</div>
                                            <em>
                        {% for hint in q.hints %}
                            {{ hint }}<br>
                        {% endfor %}
                        </em>
                        {% endif %}
                {% endif %}

            {% elif q.interaction == 'textEntryInteraction' %}
                    <input type="textarea" class="block mt-3 p-2 w-full text-sm text-gray-900 bg-gray-50 border" 
                            placeholder="Escribe tu respuesta" name="{{q.id}}" value="{{ q.feedback.user_answer }}">
                    {% if q.feedback.correct %}
                    {% else %}
                        {% if q.hints|length != 0 %}
                        <div class="font-semibold mt-2 pl-3"> Pistas: </div>
                            <em>
                            {% for hint in q.hints %}
                                {{ hint }}<br>
                            {% endfor %}
                            </em>
                         {% endif %}
                    {% endif %}
            {% endif %}
         </div>
        {% endfor %}



    

    {% endif %}
{% if attempts_left %}
        <input type="submit" name="check" value="{{ feedback|yesno:"Re-Enviar,Enviar,Enviar" }}" class="mt-6 rounded-lg bg-sky-500 text-white font-semibold h-10 w-48">
{% endif %}
        {{content.bye|safe}}
 </div>







     
		</form>







{% endblock activity %}

{% block scripts %}

    {{ block.super }}

    <script>
    $(".hint-btn").click(function(){
        var id = this.getAttribute('id');
        id = id.split('-')[1];
        $("#div-"+id).toggle();
    })

    </script>

{% endblock %}
