{% extends "activitytree/base.html" %}

{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
 	<div class="container d-flex flex-column">
		<div class="row align-items-top justify-content-center g-0 min-vh-100">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0">
				<!-- Card -->
				<div class="card shadow">
					<!-- Card body -->
					<div class="card-body p-6">
						<div class="mb-4">
							<a href="../index.html"><img src="../assets/images/brand/logo/logo-icon.svg" class="mb-4" alt="" /></a>
							<h2 class="mb-1 font-weight-bold">¿Olvidaste tu contraseña?</h2>
							<p> Te enviamos un correo con un enlace para restaurar tu contraseña. Por 
                            favor, revisa tu correo y haz clic en el link para continuar.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 {% endblock %}

{# This is used by django.contrib.auth #}