{% extends "activitytree/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}
<div class=" flex justify-center md:mx-auto md:max-w-screen-xl px-2">
  <div class="mt-6 mx-auto">
    <a class="" href="/">
      <span class="sr-only">aulacode.com</span>
      <img class="h-10 w-auto sm:h-10" src="{{ STATIC_URL }}assets/images/brand/logo/logo-aulacode.svg" alt="aulacode">
    </a>
  </div>
</div>

<div class="flex min-h-full  justify-center py-10 px-4 sm:px-6 lg:px-8">
  <div class="border shadow-md rounded-xl px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mt-6 text-left text-3xl font-bold text-gray-500">
      ¿Olvidaste tu contraseña?
    </div>

    <p class="text-sm text-gray-600">Llena la forma para enviar a tu correo instrucciones para restaurarla.</p>

    <!-- Form -->
    <form method="post" action="">
      {% csrf_token %}
      <!-- Email -->
      {% if form.email.errors %}
      <div class="mb-3  bg-red-300 rounded-lg">
        <label for="{{ form.email.id_for_label }}">{{ form.old_password.label }}</label>
        <input type="text" maxlength="30" class="pl-2 overflow-hidden sm:rounded-md h-8 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 required" id="{{ form.email.id_for_label }}"
          value="{{ form.email.value|default_if_none:"" }}" name="email" aria-describedby="usernameHelpBlock">
        <div class="form-control-feedback" class="text-white">{{ form.email.errors }}</div>
      </div>
      {% else %}
      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        <input type="text" maxlength="30" class="pl-2 overflow-hidden sm:rounded-md h-8 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 required" id="{{ form.email.id_for_label }}"
          value="{{ form.email.value|default_if_none:"" }}" name="email" aria-describedby="usernameHelpBlock">
      </div>
      {% endif %}
      <!-- Button -->
      <div class="mb-3">
        <button type="submit" class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
                  font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 
                  focus:outline-none dark:focus:ring-blue-800">
          Restaurar contraseña
        </button>
      </div>
      <span>Regresa a <a href="/accounts/login/" class="text-blue-500"> inicio de sesión </a></span>
    </form>
  </div>
</div>

{% comment %}
<div class="container d-flex flex-column">
  <div class="row align-items-top justify-content-center g-0 min-vh-100">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <!-- Card -->
      <div class="card shadow">
        <!-- Card body -->
        <div class="card-body p-6">
          <div class="mb-4">
            <a href="../index.html"><img src="../assets/images/brand/logo/logo-icon.svg" class="mb-4" alt="" /></a>
            <h1 class="mb-1 font-weight-bold">¿Olvidaste tu contraseña?</h1>
            <p>Llena la forma para enviar a tu correo instrucciones para restaurarla.</p>
          </div>
          <!-- Form -->
          <form method="post" action="">
            {% csrf_token %}
            <!-- Email -->
            {% if form.email.errors %}
            <div class="mb-3  has-danger">

              <label for="{{ form.email.id_for_label }}">{{ form.old_password.label }}</label>
              <input type="text" maxlength="30" class="form-control required" id="{{ form.email.id_for_label }}"
                value="{{ form.email.value|default_if_none:"" }}" name="email" aria-describedby="usernameHelpBlock">
              <div class="form-control-feedback">{{ form.email.errors }}</div>
            </div>
            {% else %}
            <div class="mb-3">
              <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
              <input type="text" maxlength="30" class="form-control required" id="{{ form.email.id_for_label }}"
                value="{{ form.email.value|default_if_none:"" }}" name="email" aria-describedby="usernameHelpBlock">
            </div>
            {% endif %}
            <!-- Button -->
            <div class="mb-3">
              <button type="submit" class="btn btn-primary btn-block">
                Restaurar contraseña
              </button>
            </div>
            <span>Regresa a <a href="/accounts/login/"> inicio de sesión </a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}


{% endblock %}
{# This is used by django.contrib.auth #}