{% extends "activitytree/base.html" %}

{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mb-2 justify-content-center">
        <div class="col-lg-8 col-md-12 col-12 text-center">
            <!-- caption -->
            <span class="text-primary mb-3 d-block text-uppercase font-weight-semi-bold ls-xl">Bienvenido</span>
            <h2 class="mb-2 display-4 font-weight-bold"> ¿Qué quieres aprender?</h2>
            <p class="lead">Tu cuenta ha sido creada  ya puedes <a href="/accounts/login"> inicar sesión. </a>   </p>
        <img src="{{STATIC_URL}}assets/images/blog/road.jpg" class="img-fluid d-lg-none" alt="">
        </div>

        </div>

<div class="card mb-4 card-hover  ">
    <div class="row g-0">
        <!-- Image -->
        <a href="blog-single.html" class="col-lg-8 col-md-12 col-12 bg-cover img-left-rounded" style="background-image: url({{STATIC_URL}}assets/images/blog/road.jpg);">
        <img src="{{STATIC_URL}}assets/images/blog/road.jpg" class="img-fluid d-lg-none invisible" alt=""></a>
        <div class="col-lg-4 col-md-12 col-12">
            <!-- Card Body -->
            <div class="card-body">
                <a href="#" class="badge bg-warning mb-3">Curso recomendado</a>
                <h1 class="mb-4"> <a href="blog-single.html" class="text-inherit">
                ¿Qué hay nuevo en Python para el 2021?
                </a>
                </h1>
                <p> Este es un curso introductorio a las nuevas características del lenguaje Python 3.0.
                </p>
                <!-- Media Content -->
                <div class="row align-items-center g-0 mt-7">
                <div class="col-auto">
                    <img src="{{STATIC_URL}}assets/images/avatar/avatar-6.jpg" alt="" class="rounded-circle avatar-sm me-2">
                </div>
                <div class="col lh-1 ">
                    <h5 class="mb-1">Mario García Valdez</h5>
                    <p class="font-size-xs mb-0">Septiembre 13, 2021</p>
                </div>
                <div class="col-auto">
                    <p class="font-size-xs mb-0">6 Minutos de lectura</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>



{% endblock %}







{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}