{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}{% trans "Remove comment" %}{% endblock %}

{% block content %}

 <div class="container pt-3 d-flex flex-column">
    <div class="row align-items-top mt-4 justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-4 py-xl-0">

    <div class="mb-4">
      <h3 class="text-center"> ¿Borrar Comentario?</h3>
      <hr/>
    </div>
    <p class="lead text-center"> Este comentario ya no se mostrará.</p>
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="card mb-4">
          <div class="card-body">
            <div class="media">
              <div class="me-3">
                {{ comment.user_email|xtd_comment_gravatar }}
              </div>
              <div class="media-body">
                <h6 class="mb-1 small">
                  {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
                  {% if comment.user_url %}
                  <a href="{{ comment.user_url }}" target="_new">
                    {{ comment.user_name }}
                  </a>
                  {% else %}
                  {{ comment.user_name }}
                  {% endif %}
                </h6>
                <p>{{ comment.comment }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <form action="." method="post">{% csrf_token %}
          <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
            <div class="mb-3">
              <div class="text-center">
                <div>
                <a href="{{ comment.get_absolute_url }}" class="btn btn-white ">De regreso a comentarios</a>
                <input type="submit" class="btn btn-danger mt-0" value="Borrar">
                </div>

     
              </div>
            </div>
        </form>
      </div>
    </div>

    </div>
  </div>
</div>

{% endblock %}
